@import '~common/css/variables.scss';


.injury-selector {
  width: 100%;
  background-color: $white;

  .injury-picker-hd {
    height: 40px;
    line-height: 40px;
    display: flex;
    color: $gray;
    padding: 0px $gap;
  }

  .injury-picker-bd {
    .picker-items {
      font-size: $content-size;
    }
  }

  .close-picker {
    float: left;
  }
  .picker-title {
    flex: 1;
    text-align: center;
  }
  .confirm-picker {
    float: right;
    color: $red;
  }

  .injury-selected-container {
    margin: 10px $gap / 2;
    padding-bottom: 10px;
    border-bottom: 1px solid $smoke-light;
  }
  .injury-selected-list {
    .injury-selected-item {
      display: inline-block;
      vertical-align: middle;
      margin: 5px 10px;
      border: 1px solid $red;
      color: $red;
      height: 24px;
      line-height: 24px;
      font-size: $content-size-s;
      padding: 0px 5px 0px 10px;
      border-radius: 2px;
    }

    .injuried-pard-name, .icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .injury-picker-confirm {
    display: block;
    text-align: center;
    margin: 0px $gap / 2;
    height: 40px;
    line-height: 40px;
    
    border-top: 1px solid $smoke-light;
  }
}

