<template>
  <div class="empty">
    <p class="empty-title"
      @click="click">
      {{ title }}
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Empty',
    props: {
      title: {
        type: String,
        default: '啥都没有'
      },
      click: {
        type: Function,
        default: () => {}
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>