<template>
  <FooterBar :tabs="tabs"
    :current="current" />
</template>
<script>
  import 'common/components/footer-bar'
  const TABS = [
    {
      name: 'homepage',
      path: '/homepage',
      icon: 'lightning',
      text: '首页'
    },
    {
      name: 'diary',
      path: '/diary',
      icon: 'pencil',
      text: '日记'
    },
    {
      name: 'history',
      path: '/history',
      icon: 'history',
      text: '历史'
    },
    {
      name: 'user',
      path: '/user',
      icon: 'user',
      text: '我的'
    }
  ]
  export default {
    name: 'PlayerFooterBar',
     props: {
      current: {
        type: String,
        default: 'homepage',
        required: true
      },
    },
    data: () => {
      return {
        tabs: TABS
      }
    }
  }
</script>