<template>
  <div class="diary-card"
    :class="[ withName ? 'with-name' : '' ]">
    <div class="hd">
      <span class="name">
        {{data.pulses[0].pulseTime}}
      </span>
      <span class="link"
        @click="goToDetail(data)">
        查看详情
      </span>
      <span class="date">

      </span>
    </div>
    <div class="bd">
      <dl class="info-item"
      >
        <dt>脉搏次数：</dt>
        <dd>{{data.pulses[0].pulse}}次/30m （晨脉）{{data.pulses[0].pulse}}次/30m （晚脉）</dd>
      </dl>
      <dl class="info-item">
        <dt>训练量：</dt>
        <dd>{{data.diaryContent.trainingVolume.name}}</dd>
      </dl>
      <dl class="info-item">
        <dt>训练强度：</dt>
        <dd>{{data.diaryContent.trainingIntensity.name}}</dd>
      </dl>
    </div>
    <div id="coach">
    	<div id="title">
    		<div id="title-words">
    			{{data.diaryReplies[0].personName}}留言
    		</div>
    		<div id="title-reply" @click="goToreply(data)">
						回复  		
    		</div>
    	</div>
    	<div id="words-content">
    		{{data.diaryReplies[0].content}}
    	</div>
    	
    </div>
  </div>
  
</template>
<script>
  export default {
    name: 'DiaryCard',
    props: {
      withName: {
        type: Boolean,
        default: false
      },
      data: {
        type: Object
      },
      goToDetail: {
        type: Function,
        default: (item) => {console.log('goToDetail', item)}
      },
      goToreply: {
        type: Function,
        default: (item) => {console.log('goToreply', item)}
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>