@import '~common/css/variables.scss';

.diary-card {
  &.with-name {
    .hd {
      .name {
        float: left;
        margin-right: $gap / 3;
      }
      .date {
        float: right;
        margin-right: $gap / 3;
      }
    }
  }
}
#coach{
    border-top: 1px solid #E1E1E1;
}
#title{
    overflow: hidden;
    padding: 15px 0px;
    color: #494949;
}
#title-words{
    float: left;
}
#title-reply{
    float: right;
    color: #C71427;
}
#words-content{
    text-indent:25px;
    color: #919191;
    padding-bottom: 15px;
}
