@import '~common/css/variables.scss';

.profile-edit {
  .avatar {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: $white;
    border-radius: 50%;
    margin: 50px auto 30px auto;
    overflow: hidden;

    img {
      width: 100px;
      height: 100px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .gender-box {
    text-align: center;
    margin-bottom: $gap;
    .gender-item {
      height: $gap;
      line-height: $gap;
      padding: 0px $gap / 2;
      display: inline-block;
      vertical-align: middle;
      margin: 0px $gap;
    }
  }

  .profile-edit-info {
    margin-top: 10px;
    margin-bottom: 10px;
    .field {
      margin-bottom: 0px;
      border-bottom: 1px solid $smoke-light;
    }
  }
}

