@import '~common/css/variables.scss';

.tabs {
  display: flex;
  background-color: $white;

  .tab-item {
    margin: 0px $gap/2;
    list-style: none;
    flex: 1;
    height: $nav-height;
    line-height: $nav-height;
    text-align: center;
    color: $smoke;
    font-size: $content-size;

    &.current {
      color: $red;
      border-bottom: 2px solid $red;
    }
  }
}