<template>
  <div class="tag-box">
    <div class="tag-box-title"
      v-if="title">
      {{ title }}
    </div>
    <div class="tag-box-list"
      v-if="tags && tags.length > 0">
      <span class="tag"
        v-for="tag in tags"
        :class="[ selected.indexOf(tag.id || tag.value) > -1 ? 'selected' : '' ]"
        @click="_select(tag)">
        {{ tag.name }}
      </span>
    </div>
    <div class="tag-box-content">
      <textarea class="textarea"
        :placeholder="placeholder"
        v-model="content"
        :style="{ height: `${Math.min(Math.floor(limit/10), 4)}em`}"
        max-length="limit"></textarea>
      <div class="tag-box-content-limit">
        <span v-if="limit - content.length >= 0">
          您还可以输入 {{ limit - content.length }} 字
        </span>
        <span v-if="limit - content.length < 0">
          您已超出 {{ content.length - limit }} 字
        </span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'TagBox',
    props: {
      // tags example:
      // [
      //   {
      //     name: 'A',
      //     id: 'A'
      //   },
      //   ...
      // ]
      tags: {
        type: Array
      },
      title: {
        type: String
      },
      limit: {
        type: Number,
        default: 200
      },
      placeholder: {
        type: String
      },
      select: {
        type: Function
      },
      multiple: {
        type: Boolean,
        default: false
      }
    },
    data: () => {
      return {
        content: '',
        // id list
        selected: []
      }
    },
    methods: {
      _select (tag) {
        let _id = tag.id || tag.value

        let isSelected = this.selected.find((id) => {
          return id === _id
        })
        if (isSelected) {
          this.selected = this.selected.filter((id) => {
            return id !== _id
          })
        } else {
          if (this.multiple) {
            this.selected = [_id]
          } else {
            this.selected.push(_id)
          }
        } 
        this.select(this.selected)
      }
    },
    watch: {
      content (val) {
        this.$emit('input', val)
      },
      value (val) {
        this.content = val
      }
    }
    
  }
</script>
<style lang="scss" src="./style.scss"></style>