@import '~common/css/variables.scss';

.info-card {
  .info-card-content {
    word-break: break-all;
    word-wrap: break-word;
  }
  .ft {
    font-size: $content-size-s;
    text-align: right;
    color: $smoke-light;
    padding: $gap/2 0px;
  }
}