<template>
  <div class="picker-trigger">
    <div class="trigger-field"
      @click="_toggleVisible">
      <div class="picker-trigger-title">
        {{ title }}
      </div>
      <div class="picker-trigger-result">
        <span class="result"
          v-if="(pickerType === 'normal' && result) || confirmed">
          {{ _format(result) }}
        </span>
        <span class="placeholder"
          v-if="pickerType !== 'normal' && !confirmed">
          {{ placeholder }}
        </span>
        <i class="icon arrow-right"></i>
      </div>
    </div>
    <!-- normal picker -->
    <mt-popup v-if="pickerType === 'normal'"
      v-model="pickerVisible"
      position="bottom">
      <div class="picker-main">
        <div class="picker-hd">
          <span class="picker-cancel"
            @click="_toggleVisible">取消</span>
          <span class="picker-confirm"
            @click="_confirm">确定</span>
        </div>
        <div class="picker-bd">
          <mt-picker v-model="result"
            :value-key="valueKey"
            :slots="slots" @change="_change"></mt-picker>
        </div>
      </div>
    </mt-popup>
    
    <!-- date picker -->
    <mt-datetime-picker v-if="pickerType === 'time'"
      ref="datePicker"
      v-model="result"
      type="time"
      @confirm="_confirm">
    </mt-datetime-picker>
    <mt-datetime-picker v-if="pickerType === 'date'"
      ref="datePicker"
      :startDate="startDate"
      :endDate="endDate"
      year-format="{value} 年"
      month-format="{value} 月"
      date-format="{value} 日"
      v-model="result"
      type="date"
      @confirm="_confirm">
    </mt-datetime-picker>

  </div>
</template>
<script>
  import moment from 'moment'

  export default {
    name: 'PickerTrigger',
    props: {
      pickerType: {
        type: String,
        default: 'normal'
      },
      valueKey: {
        type: String,
        default: ''
      },
      title: {
        type: String
      },
      placeholder: {
        type: String,
        default: '请选择'
      },
      slots: {
        type: Array
      },
      change: {
        type: Function
      },
      confirm: {
        type: Function
      },
      startDate: {
        type: Date
      },
      endDate: {
        type: Date
      },
      value: {
        type: String
      }
    },
    data: () => {
      return {
        result: '',
        confirmed: false,
        pickerVisible: false
      }
    },
    methods: {
      _toggleVisible () {
        this.pickerVisible = !this.pickerVisible
        if (this.$refs.datePicker) {
          if (this.pickerVisible) {
          	console.log(this.$refs.datePicker)
            this.$refs.datePicker.open()
          } else {
            this.$refs.datePicker.close()
          }
        }
      },
      _confirm (value) {
        if (this.pickerType === 'normal') {
          this.confirm(this.result)
        } else {
          this.confirm(value)
        }
        this.confirmed = true
        this._toggleVisible()
      },
      _change (picker, values) {
      	console.log(picker)
        let index = picker.getSlotValue()
        this.result = values[0]
      },
      _format (value) {
        let type = Object.prototype.toString.call(value)
        if (/Date/gi.test(type)) {
          if (this.pickerType === 'date') {
            return moment(value).format("YYYY年 MM月 DD日")
          } else if (this.pickerType === 'time') {
            return moment(value).format("YYYY年 MM月 DD日 HH:mm:ss")
          }
        } else if (/Object/gi.test(type) && this.valueKey) {
          return value[this.valueKey]
        }
        return value
      }
    },
    created () {
      if (this.pickerType === 'date' || this.pickerType === 'datetime') {
        if (this.value) {
          this.confirmed = true
          this.result = new Date(this.value)
        } else {
          this.result = new Date()
        }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>