<template>
  <div class="main homepage">
    <div class="scroll-main with-footer">
      <!-- 背景 -->
      <swiper :options="swiperOption">
          <swiper-slide>
            <router-link to='news'>
              <img src="../../img/research.jpg" alt="" class="research">
            </router-link> 
          </swiper-slide>
          <swiper-slide>
            <router-link to='analeptic'>
              <img src="../../img/analeptic_02.png" alt="" class="research">
            </router-link> 
          </swiper-slide>
          <swiper-slide>
            <router-link to='news'>
              <img src="../../img/news_02.png" alt="" class="research">
            </router-link> 
          </swiper-slide>
        <div class="swiper-pagination"  slot="pagination"></div>
      </swiper>
      
      
      <!-- 运动员信息 -->
      <div class="card">
        <div class="card-title">
          <span>信息卡</span>
          <span class="player-point"
            v-if="userStatus">
            得分：{{ userStatus.point }}
          </span>
        </div>
        <div class="card-content" v-if="userStatus && profile">
          <PlayerInfo v-if="loadProfileStatus === GLOBAL.ASYNC_SUCCESS" 
            :info="profile" :status="userStatus" />
          <Loading v-if="loadProfileStatus === GLOBAL.ASYNC_PENDING" />
        </div>
      </div>

      <!-- 日记回复列表 -->
      <div class="card">
        <div class="card-title">
          <span>日记回复</span>
        </div>
        <div class="card-content">
          <div class="diary-list" 
            v-if="loadDiaryRepliedStatus === GLOBAL.ASYNC_SUCCESS && diaryReplied">
            <div v-for="(item,index) in diaryReplied">
              <DiaryCard :data="item" :goToDetail="goToDetail" :goToreply="goToreply"/>
        		</div>
            
            <Empty v-if="diaryReplied.length === 0" />
          </div>
          <Loading v-if="loadDiaryRepliedStatus == GLOBAL.ASYNC_PENDING" />
        </div>
      </div>
    </div>
    <PlayerFooterBar current='homepage' />
  </div>
</template>
<script>
  import 'common/components/player-info'
  import 'common/components/player-footer-bar'
  import 'common/components/loading'
  import 'common/components/empty'
  import 'common/components/diary-card'
  import { mapGetters, mapActions } from 'vuex'
  import 'swiper/dist/css/swiper.css'////这里注意具体看使用的版本是否需要引入样式，以及具体位置。
  import { swiper, swiperSlide } from 'vue-awesome-swiper'
  import axios from 'axios'
  export default {
    name: 'PlayerHomepage',
    computed: mapGetters({
      profile: 'profile',
      loadProfileStatus: 'loadProfileStatus',
      loadUserStatusStatus: 'loadUserStatusStatus',
      loadDiaryRepliedStatus: 'loadDiaryRepliedStatus',
      userStatus: 'userStatus',
      diaryReplied: 'diaryReplied',
      background: 'background'
    }),
    components: {
      swiper,
      swiperSlide
    },
    data(){
      return{
       swiperOption: {//swiper3
    			autoplay: {
    				delay: 3000
    			},
    			loop:true,
 	  			speed: 1000,
 	  			pagination: {
    				el: '.swiper-pagination',
    				type: 'bullets'
    			}
    	  },
    	diaryReplied:""
       
      }
    },
    methods: {
    	getLocation(){
      if(navigator.geolocation){        

       //判断是否有这个对象

           navigator.geolocation.getCurrentPosition(function(pos){

               alert("经度："+pos.coords.longitude+                

               "纬度："+pos.coords.latitude)

           })

       }else{

           console.log("当前系统不支持GPS API")

       }
    },
      goToDetail(data) {
        let path = `/diary/detail/${data.diary.id}`
        this.$router.push(path)
      },
    	goToreply (data) {
        let diaryId = `/playerreply/${data.diary.coachName}`
        this.$router.push(diaryId)
      },
      openUrl (url) {
        if (url) {
          window.open(url, '_system')
        }
      }
    },
    created () {
      if (!this.background) {
        this.$store.dispatch('loadBackground')
      }
      // profile 随时更新
      this.$store.dispatch('loadProfile')
      // 用户状态随时更新
      this.$store.dispatch('loadUserStatus')
      // 日记列表随时更新
      this.$store.dispatch('loadDiaryReplied')
    },
		mounted:function() {
			var that=this
			axios({
				type:'get',
				url:'http://39.98.217.15/sport-api/v1/player/diary/replied/latest?playerId=96'}).then(err=>{
					console.log(err.data.data)
				that.diaryReplied=err.data.data
				}).catch(arr=>{
					alert()
				})
   }
  }
</script>
<style lang="scss" src="./style.scss"></style>