@import '~common/css/variables.scss';
.player-info {
  padding-bottom: 10px;
  background: #FFFFFF;
    span b{
        font-weight: 500;
        color: #4a4a4a;
    }
  .player-hd {
    padding: 15px;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid $smoke-light;

    .avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      float: left;
      background-color: #eee;
    }

    .player-status {
      margin-left: 70px;
      overflow: hidden;
      display: flex;

      .player-status-item {
        flex: 1;
        text-align: center;

        .status-num {
          font-size: 36px;
          font-weight: bold;
          line-height: 36px;
          margin-bottom: 5px;
          color: $black;
        }

        .status-name {
          color: $smoke;
        }
      }
    }
  }

  .player-info-list, .player-result-list{
    list-style: none;
    color: $smoke;
    clear: both;
    overflow: hidden;

    li {
      font-size: $content-size-s;
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding: 5px 15px;
    }

    .icon {
      margin-right: 5px;
    }

    .icon, span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .player-info-list {
    margin-top: 10px;
  }
  .player-result-list {
    li {
      width: 100%;
    }
  }
}