<template>
  <div class="main">
    <Nav title="计划和情报" :useBack="false" />
    <div class="scroll-main with-nav with-footer">
      <Tab :tabs="tabs" :current="current" :click="go" />
      <router-view></router-view>
    </div>
    <CoachFooterBar current='write' />
  </div>
</template>
<script>
  import 'common/components/nav'
  import 'common/components/tab'
  import 'common/components/coach-footer-bar'
  let tabs = [
    {
      name: 'plan',
      path: 'plan',
      text: '发布计划'
    },
    {
      name: 'info',
      path: 'info',
      text: '发布情报'
    }
  ]
  export default {
    name: 'CoachWrite',
    data: () => {
      return {
        tabs,
        current: 'plan'
      }
    },
    created () {
      let current = this.$route.path.replace(/^\/write\/([a-z]+)$/gi, ($1, $2) => {
        return $2
      })
      if (current !== this.$route.path) {
        this.current = current
      }
      this.$router.replace({path: `/write/${this.current}`})
    },
    methods: {
      go (tab) {
        this.$router.replace({path: `/write/${tab.path}`})
        this.current = tab.path
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>