<template>
	<div>
		<div class="main" style="height: 44px;">
			<Nav title="调研问卷"></Nav>
		</div>
		<div id="send" style="background: #FFFFFF;">
			发送： <span>{{coach}}</span>
		</div>
		<div id="content" style=""> 
			 <textarea name="" rows="" cols="" placeholder="请填写你给教练发送的内容" style="">
			 	
			 </textarea>
		</div>
		<footer>
			<a @click="upper">确&emsp;定</a>
		</footer>
	</div>
</template>

<script>
import axios from 'axios'
	export default {
		data:function(){
			return{
				coach:null
			}
			
		},
		methods:{
			upper (){
				alert('ok')
				  this.$router.back()
			}
		},
		mounted:function() {
			var that=this
			this.coach=this.$route.params.id
			
	 	}
	}
</script>
<style>
	#send{
		background: #FFFFFF;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		padding-left: 10px;
	}
	#content{
		margin-top: 20px;
		background-color: #ffffff;
	}
	textarea{
		width: 100%; border: 0;min-width: 100%;
		min-height: 300px;
		font-size: 20px;
		padding: 10px 0 0 10px;
	}
	footer{
		margin-top: 20px;
		background: #FFFFFF;
	}
	footer a{
		display: block;
		margin:20px auto;
		width: 76%;
		text-align: center;
		height: 50px;
		line-height: 50px;
		background-image: linear-gradient(0deg, #E81936 0%, #EE5937 100%);
		border-radius: 6px;
		color: #FFFFFF;
	}
</style>