<template>
  <div class="diary-card diary-detail-card">
    <div class="hd"
      v-if="data.diary">
      <span class="name">
        {{ data.diary.playerName }} 的训练日记
      </span>
      <span class="date">
        {{ data.diary.diaryDate }}
      </span>
      <span class="period"
        v-if="data.diary.timePeriod">
        {{ data.diary.timePeriod }}
      </span>
    </div>
    <div class="bd">
      <dl class="info-item"
        v-if="data.pulses && data.pulses.length > 0">
        <dt>脉搏次数：</dt>
        <dd>
          <p v-for="pulse in data.pulses"
            class="pulse-info">
            {{ pulse.pulse }}次/30m（{{ pulse.pulseType.name }}）
          </p>
        </dd>
      </dl>
      <dl class="info-item">
        <dt>训练量：</dt>
        <dd>{{ data.diaryContent.trainingVolume.name }}</dd>
      </dl>
      <dl class="info-item">
        <dt>训练强度：</dt>
        <dd>{{ data.diaryContent.trainingIntensity.name }}</dd>
      </dl>
      <dl class="info-item">
        <dt>心理状态：</dt>
        <dd>{{ data.diaryContent.moodStatus.name }}</dd>
      </dl>
      <dl class="info-item">
        <dt>伤病情况：</dt>
        <dd v-if="!data.diaryContent.injuried">未受伤</dd>
        <dd v-if="data.diaryContent.injuried">
          <div class="inject-info"
            v-for="injectedPart in data.injuries">
            <span class="inject-parts">
              {{ injectedPart.bodyPart.name }}
            </span>
          </div>
        </dd>
      </dl>
      <dl class="info-item">
        <dt>是否服药：</dt>
        <dd v-if="!data.diaryContent.takeMedicine">未服药</dd>
        <dd v-if="data.diaryContent.takeMedicine">
          {{ data.medicine.medicineContent }}
          <div class="medicine-images"
            v-if="data.medicineImages && data.medicineImages.length > 0">
            <div class="medicine-image"
              v-for="image in data.medicineImages">
              <Photo :src="image" />
            </div>
          </div>
        </dd>
      </dl>
      <dl class="info-item"
        v-if="data.diaryContent.content">
        <dt>文字记录：</dt>
        <dd>
          {{ data.diaryContent.content }}
        </dd>
      </dl>
    </div>
    <div class="reply"
      v-if="data.diaryReply && data.diaryReply.content">
      <div class="reply-title">
        教练回复
      </div>
      <div class="reply-content">
        {{ data.diaryReply.content }}
      </div>
    </div>
    <div class="reply-buttons"
      v-if="!data.diaryReply && role === 'coach'">
      <button class="btn block"
        @click="submitReply(data)">
        批复
      </button>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'DiaryDetailCard',
    props: {
      data: {
        type: Object
      },
      role: {
        type: String
      },
      submitReply: {
        type: Function
      }
    },
    created () {
      console.log(this.data)
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>