<template>
  <a class="btn block link s upload-button"
    @click="upload">
    <i class="icon"
      v-if="icon"
      :class="icon"></i>
    <span>{{ text }}</span>
  </a>
</template>
<script>
  import fetch from 'common/utils/fetch'
  import photoUpload from 'common/utils/cordova-photo-upload'

  export default {
    name: 'UploadButton',
    props: {
      url: {
        type: String,
        default: '/v1/file/uploadSingle'
      },
      icon: {
        type: String,
        default: 'camera'
      },
      text: {
        type: String,
        default: '添加照片'
      },
      success: {
        type: Function
      },
      fail: {
        type: Function
      }
    },
    data: () => {
      return {
        status: 'DEFAULT'
      }
    },
    methods: {
      upload () {
        let success = this.success
        photoUpload().then((res) => {
          success(res)
        })
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>