<template>
  <div class="main">
    <div class="scroll-main with-footer">
      <!-- poster -->
      <div class="poster"
        v-if="profile">
        <div class="user-card">
          <div class="user-avatar"
            @click="changeAvatar">
            <img :src="profile.avatar" alt="">
          </div>
          <div class="user-info">
            <p class="user-name">
              {{ profile.name }}
            </p>
            <div class="user-score"
              v-if="userStatus">
              得分：{{ userStatus.point }}
            </div>
          </div>
        </div>
      </div>
      <!-- content list -->
      <ListView :list="userItems" />
      <ListView :list="logout" />
    </div>
    <PlayerFooterBar v-if="role === 'player'" current='user' />
    <CoachFooterBar v-if="role === 'coach'" current='user' />
  </div> 
</template>
<script>
  import 'common/components/player-footer-bar'
  import 'common/components/coach-footer-bar'
  import 'common/components/list-view'
  import { StorageMaster } from 'common/utils/storage'
  import { mapGetters } from 'vuex'
  import { Toast } from 'mint-ui'
  import photoUpload from 'common/utils/cordova-photo-upload'

  var USER_ITEMS = [
    {
      icon: 'lock',
      text: '修改密码',
      name: 'password',
      path: '/password'
    },
    {
      icon: 'circle-question',
      text: '帮助中心',
      name: 'help',
      path: '/help'
    },
    {
      icon: 'message',
      text: '反馈问题',
      name: 'feedback',
      path: '/feedback'
    },
    {
      icon: 'circle-info',
      text: ' 关于',
      name: 'about',
      path: '/about'
    },
    {
      icon: 'circle-info',
      text: ' 消息通知',
      name: 'message',
      path: '/message'
    }
  ]

  export default {
    name: 'CoachUser',
    data: () => {
      return {
        user: null,
        role: '',
        userItems: USER_ITEMS,
        logout: [
          {
            name: 'logout',
            path: '/logout',
            icon: 'turn',
            text: '退出'
          }
        ]
      }
    },
    computed: mapGetters({
      profile: 'profile',
      loadUnreadStatus: 'loadUnreadStatus',
      unreadCount: 'unreadCount',
      userStatus: 'userStatus',
      changeAvatarStatus: 'changeAvatarStatus',
      changeAvatarMessage: 'changeAvatarMessage',
      avatar: 'avatar'
    }),
    created () {
      this.user = StorageMaster.getItem('user')
      let setting = StorageMaster.getItem('setting')
      this.role = setting.role

      // 加载未读信息
      this.$store.dispatch('loadUnreadMessage')

      // 加载 profile
      this.$store.dispatch('loadProfile')
    },
    methods: {
      changeAvatar () {
        let store = this.$store
        photoUpload({
          maximumImagesCount: 1
        }).then((res) => {
          let { response } = res[0]
          if (response) {
            let { code, data, message } = JSON.parse(response)
            if (parseInt(code, 10) === 1) {
              store.dispatch('changeAvatar', data.path)
            } else {
              Toast(message || '上传图片失败')
            }
          } else {
            alert('上传图片失败, 找不到返回数据')
          }
        }).catch((err) => {
          alert('网络错误, 上传图片失败')
          alert(JSON.stringify(err))
        })
      }
    },
    watch: {
      changeAvatarStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            Toast('修改成功')
            this.user.avatar = this.avatar
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(this.changeAvatarMessage || '修改头像失败, 请重试')
          }
        }
      },
      loadUnreadStatus (next, prev) {
        if (next !== prev &&
            next === this.GLOBAL.ASYNC_SUCCESS && 
            this.unreadCount) {
          let userItems = [ ...this.userItems ]
          userItems.forEach((item) => {
            if (item.name === 'message') {
              item.tag = this.unreadCount 
            }
          })
          this.userItems = userItems
        }

      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>