<template>
  <div class="main select-coach">
    <Nav title="选择教练"
      :useRight="true"
      :rightClick="save" />
    <div class="scroll-main with-nav">
      <Loading v-if="loadCoachListStatus === GLOBAL.ASYNC_PENDING" />
      <Empty v-if="loadCoachListStatus === GLOBAL.ASYNC_FAIL"
        title="获取教练列表失败, 点此重试" 
        :click="reload"/>
      <ul class="coach-list"
        v-if="coachList && coachList.length > 0">
        <li v-for="coach in coachList"
          class="coach-item"
          :class="[ coach.id == coachId ? 'selected' : '' ]"
          @click="selectCoach(coach)">
          <span class="coach-name">
            {{ coach.name }}
          </span>
          <span class="coach-desc">
            {{ coach.desc }}
          </span>
          <i v-if="coach.id == coachId" 
            class="icon selected"></i>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
  import 'common/components/nav'
  import 'common/components/loading'
  import 'common/components/empty'
  import { mapGetters } from 'vuex'
  import { Toast } from 'mint-ui'
	import axios from 'axios'
  export default {
    name: 'PlayerSelectCoach',
    created () {
      // 初始化教练列表
      this.$store.dispatch('loadCoachList')
    },
   mounted:function(){
	 	var that=this
	 	axios({
	 		type:'post',
	 		url:'http://39.98.217.15/sport-api/v1/coach/list?minorCategoryId='+this.$route.params.id
	 	}).then(function(data){
      that.coachList=data.data.data
	 	}).catch(function(){
	 		alert(2)
	 	})
   },
    computed: mapGetters({
      loadCoachListStatus: 'loadCoachListStatus',
      loadCoachListMessage: 'loadCoachListMessage',
      saveCoachStatus: 'saveCoachStatus',
      saveCoachMessage: 'saveCoachMessage'
    }),
    data: () => {
      return {
      	coachList:'',
        coachId: '',
      }
    },
 
    methods: {
      reload () {
        this.$store.dispatch('loadCoachList')
      },
      selectCoach (coach) {
        this.coachId = coach.id
      },
      save () {
        if (!this.coachId) {
          Toast('请选择一位教练')
          return false
        }
        this.$store.dispatch('saveCoach', this.coachId)
      }
    },
    watch: {
      loadCoachListStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(loadCoachListMessage || '加载失败')
          }
        }
      },
      saveCoachStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            let instance = Toast('保存成功')
            setTimeout(() => {
              instance.close()
              this.$router.replace({
                path: '/homepage'
              })
            }, 500)
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(this.saveCoachMessage || '保存失败, 请重试')
          }
        }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>