<template>
  <div class="write-info">
    <div class="write-box">
      <TagBox title="情报标题"
        placeholder="请填写情报标题"
        :limit="20"
        v-model="submitData.title" />
    </div>

    <div class="write-box">
      <TagBox title="情报内容"
        placeholder="请填写情内容"
        v-model="submitData.content" />
    </div>

    <div class="write-box image-box">
      <ul class="images"
        v-if="submitData.images && submitData.images.length > 0">
        <li class="image-item"
          v-for="image in submitData.images">
          <Photo :src="image" />
        </li>
      </ul>
      <div class="add-image">
        <UploadButton :success="addImages" />
      </div>
    </div>

    <div class="write-box">
      <div class="field">
        <button class="btn block"
          @click="submit">
          发布
        </button>
      </div>
    </div>

  </div>
</template>
<script>
  import 'common/components/photo'
  import 'common/components/tag-box'
  import 'common/components/upload-button'
  import { mapGetters } from 'vuex'
  import { Toast } from 'mint-ui'
  import validate from 'common/utils/validate'

  let RULES = {
    title: {
      validator: 'required',
      message: '请填写情报标题'
    },
    content: {
      validator: 'required',
      message: '请填写情报内容'
    }
  }

  export default {
    name: 'CoachWriteInfo',
    computed: mapGetters({
      submitTrainingInfoStatus: 'submitTrainingInfoStatus',
      submitTrainingInfoMessage: 'submitTrainingInfoMessage'
    }),
    data: () => {
      return {
        submitData: {
          title: '',
          content: '',
          images: []
        }
      }
    },
    methods: {
      addImages (res) {
        let paths = res.map((item) => {
          let { response } = item
          if (response) {
            let { code, data, message } = JSON.parse(response)
            if (parseInt(code, 10) === 1) {
             return data.path
            }
          }
        })
        let images = [ ...this.submitData.images ]
        images = images.concat(paths)
        this.submitData.images = images
      },
      submit () {
        let submitData = { ...this.submitData }
        let [pass, key, message] = validate(submitData, RULES)
        if (!pass) {
          Toast(message)
          return false
        }

        submitData.images = JSON.stringify(submitData.images)

        this.$store.dispatch('submitTrainingInfo', submitData)
      }
    },
    watch: {
      submitTrainingInfoStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            this.$router.push({
              name: 'success', 
              params: {
                text: '您已成功提交情报到研究院',
                point: 2
              }
            })
          } else if (next === this.GLOBAL.FAIL) {
            Toast(this.submitTrainingInfoMessage || '提交出错, 请重试')
          }
        }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>