.history-info-main {
  .info-box {
    position: relative;
    z-index: 1;
    &.with-image {
      &:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        right: 10px;
        bottom: 10px;
        background-image: url('./../../img/with-image.png');
        background-size: cover;
        width: 92px;
        height: 55px;
      }
    }
  }
}