<template>
  <div class="plan-card"
    v-if="data">
    <div class="hd">
      <span class="name">
        {{ data.plan.name }}
      </span>
      <a class="link"
        v-if="!isDetail"
        @click="goToDetail(data)">
        查看详情
      </a>
    </div>
    <div class="bd">
      <dl class="info-item"
        v-if="data.plan.trainingDate">
        <dt>开始日期：</dt>
        <dd>{{ data.plan.trainingDate }}</dd>
      </dl>
      <dl class="info-item"
        v-if="data.plan.trainingVolume">
        <dt>训练量：</dt>
        <dd>{{ data.plan.trainingVolume.name }}</dd>
      </dl>
      <dl class="info-item"
        v-if="data.plan.trainingIntensity">
        <dt>训练强度：</dt>
        <dd>{{ data.plan.trainingIntensity.name }}</dd>
      </dl>

      <dl class="info-item"
        v-if="data.planContents && data.planContents.length > 0">
        <dt>训练内容：</dt>
        <dd v-for="item in data.planContents">
          {{ item.name }}
        </dd>
      </dl>
      <div class="plan-card-remarks"
        v-if="data.plan.contentRemark">
        {{ data.plan.contentRemark }}
      </div>

      <dl class="info-item"
        v-if="data.planRecoveryMethods && data.planRecoveryMethods.length > 0">
        <dt>恢复方法：</dt>
        <dd v-for="item in data.planRecoveryMethods">
          {{ item.name }}
        </dd>
      </dl>
      <div class="plan-card-remarks"
        v-if="data.plan.methodRemark">
        {{ data.plan.methodRemark }}
      </div>

      <dl class="info-item"
        v-if="data.plan.completeStatus">
        <dt>评价：</dt>
        <dd>
          {{ data.plan.completeStatus.name }}
        </dd>
      </dl>
      <div class="plan-card-remarks"
        v-if="data.plan.completeStatusRemark">
        {{ data.plan.completeStatusRemark }}
      </div>

      <dl class="info-item"
        v-if="data.plan.evaluationStatus">
        <dt>评价：</dt>
        <dd>
          {{ data.plan.evaluationStatus.name }}
        </dd>
      </dl>
      <div class="plan-card-remarks"
        v-if="data.plan.evaluationStatusRemark">
        {{ data.plan.evaluationStatusRemark }}
      </div>
    </div>
    <div class="ft"
      v-if="createTime">
      发布时间：{{ createTime }}
    </div>
  </div>
</template>
<script>
  import moment from 'moment'

  export default {
    name: 'PlanCard',
    props: {
      data: {
        type: Object
      },
      isDetail: {
        type: Boolean,
        default: false
      },
      goToDetail: {
        type: Function
      }
    },
    data: () => {
      return {
        createTime: ''
      }
    },
    created () {
      if (this.data && this.data.plan.createTime) {
        this.createTime = moment(this.data.plan.createTime).format('YYYY-MM-DD')
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>