<template>
  <ul class="list-view"
    role="list-view">
    <li v-for="(item, index) in list"
      class="list-view-item"
      @click="change(item)">
      <i class="icon"
        :class="item.icon"></i>
      <span>
        {{ item.text }}
      </span>
      <span class="tag" v-if="item.tag">
        {{ item.tag }}
      </span>
    </li>
  </ul>
</template>
<script>
  import { StorageMaster } from 'common/utils/storage'
  var USER_ITEMS = [
  	{
      icon: 'user',
      text: '修改信息',
      name: 'password',
      path: '/profile-edit'
    },
    {
      icon: 'lock',
      text: '修改密码',
      name: 'password',
      path: '/password'
    },
    {
      icon: 'circle-question',
      text: '帮助中心',
      name: 'help',
      path: '/help'
    },
    {
      icon: 'message',
      text: '反馈问题',
      name: 'feedback',
      path: '/feedback'
    },
    {
      icon: 'circle-info',
      text: ' 消息通知',
      name: 'feedback',
      path: '/feedback'
    }
  ]

  export default {
    name: 'ListView',
    props: {
      list: {
        type: Array,
        default: () => { return USER_ITEMS }
      }
    },
    computed: {},
    methods: {
      change(item) {
        this.$router.push(item.path)
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>
