<template>
  <div class="main">
    <Nav title="退出登录" :useBack="false" />
  </div>
</template>
<script>
  import 'common/components/nav'
  import { mapGetters } from 'vuex'
  import { Toast } from 'mint-ui'

  export default {
    name: 'Logout',
    created () {
      this.$store.dispatch('logout')
    },
    computed: mapGetters({
      logoutStatus: 'logoutStatus',
      logoutMessage: 'logoutMessage'
    }),
    watch: {
      logoutStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            let instance = Toast('退出成功')
            setTimeout(() => {
              this.$router.push({path: '/login'})
            }, 1000)
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast('请求失败, 请重试')
            this.$router.back()
          }
        }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>