body{
    background: #FFFFFF;
}
#header-title img{
    width: 70%;
    margin: auto;
}
#header-title{
    margin: 30px 0;
    text-align: center;
}
#cantont{
    padding: 0 20px;
}
#cantont p:first-child{
    display: block;
    margin: 10px 0;
}
#cantont p{
    overflow: hidden;
    line-height: 30px;
}
#cantont p span{
    margin: 3px;
    display:block;
    width: 17px;
    float: left;
    border-radius: 50%;
    border: 1px solid #333333;
    height: 17px;
}
#cantont p b{
    float: left;
    margin: 3px;    
    font-weight: 500;
    line-height: 19px;
}
.click-p span i{
    display: block;
    width: 50%;
    border-radius:50%;
    height: 50%;
    margin: 25%;
    background: red;
}
footer{
    padding-bottom: 25px;
}
button{
   display: block;
   background-image: linear-gradient(0deg, #E81936 0%, #EE5937 100%);
   border-radius: 6px;
   color: #ffffff;
   width:76%;
   height: 50px;
   line-height: 50px;
   margin:25px auto;
   margin-bottom: 25px;
}
button a{
    color: #FFFFFF;
}
